@charset "UTF-8";

<!--전체 스타일 설정-->
*{margin:0;padding:0;}

<!--메인 화면 스타일설정-->
.top-logo ul li {
	list-style-type: none;
	display: inline;
	background-color: purple;
}

.personal-navigation {
	display: right;
}

.main-story img {
	margin: auto;
	display: block;
	position: relative;
}

.main-image-text {
	position: absolute;
	top: 300%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px
}

<!--회원가입 화면 스타일설정-->
    #personal-nav {
	width: 100%; height : 500px;
	background-color: green;
	height: 500px;
}

<!--스토어 화면 스타일설정-->
    .store-information {
	background-image: url('images/store.jpg');
	background-color: black;
}

#store-content ul li {
	list-style-type: none;
	display: inline;
}